@use 'vars' as *;

.about {
	&__info {
		max-width: 670px;
	}
	&__img {
	}
	&__str {
		width: 120px;
		height: 120px;
		background-image: url(../img/about/about-dots.png);
		background-position: top 8px right 8px;
		background-repeat: no-repeat;
		top: 40px;
		left: -15px;
		@include mq(sm-min) {
			left: -30px;
			top: 80px;
		}
		@include mq(xl-min) {
			width: 164px;
			height: 164px;
			left: -62px;
			top: 139px;
		}
	}
	&__number {
		@include fts(30, 30);
		@include mq(xl-min) {
			@include font-size(60);
		}
	}
	&__text {
		letter-spacing: 0.03em;
	}
	&__company {
		border-radius: 30px 30px 0px 0px;
		box-shadow: 0px 1px 18px 0px rgba(0, 0, 0, 0.15);
		gap: 24px;
		max-width: 495px;
		margin-top: -80px;
		@include mq(lg-min) {
			margin-top: -190px;
		}
	}
	&__ico {
		width: 66px;
	}
	&__right {
		width: calc(100% - 95px);
	}
	&__content {
		max-width: 600px;
	}
	&__des {
		letter-spacing: 0.01em;
	}
	&__tabs {
		.nav-link {
			color: $color-black03;
			padding-bottom: 13px;
			&.active {
				color: $color-primary;
				background: transparent;
				position: relative;
				&::before {
					content: '';
					position: absolute;
					bottom: 0;
					left: 0;
					right: 0;
					background: $color-primary;
					height: 1px;
				}
			}
		}
	}
}

.leader {
	&__list {
		gap: 30px 0;
		@include mq(md-min) {
			margin: 0 -20px;
			gap: 40px 0;
		}
		> * {
			@include mq(md-min) {
				padding: 0 20px;
			}
		}
		&-img {
			&::before {
				display: block;
				content: '';
				padding-bottom: calc(400 / 330 * 100%);
			}
			img {
				top: 0;
				left: 0;
				height: 100%;
				@include ob;
			}
		}
		&-content {
			left: 0;
			right: 0;
			bottom: 0;
			max-height: 100%;
			overflow-x: hidden;
			overflow-y: auto;
			@include smooth-transition;
		}
		&-ico {
			width: 40px;
			z-index: 1;
			margin-top: -20px;
		}
		&-desc {
			display: none;
		}
		&-str {
			bottom: 0;
			left: 0;
			right: 0;
			&::after {
				display: block;
				content: '';
				width: 6px;
				height: 6px;
				border-top: 2px solid white;
				border-left: 2px solid white;
				transform: rotate(45deg);
				@include smooth-transition;
			}
			&.is-closed {
				&::after {
					transform: rotate(-135deg);
				}
			}
		}
	}
}
