@use 'vars' as *;

.offer {
	&__img {
		max-width: 350px;
		z-index: 1;
		@include mq(md-min) {
			max-width: 431px;
			padding-left: 18px;
		}
		&::before {
			position: absolute;
			z-index: -1;
			content: '';
			width: 252px;
			height: 274px;
			background: url(../img/capabilities/offer-dots.jpg);
			top: -39px;
			right: -77px;
		}
	}
	&__content {
		max-width: 683px;
	}
	&__ttl {
		z-index: 2;
	}
	&__list {
		gap: 15px 0;
		@include mq(sm-min) {
			gap: 35px 0;
		}
		> * {
			width: 100%;
			@include mq(sm-min) {
				width: 48%;
				max-width: 280px;
			}
		}
		&-ico {
			width: 60px;
		}
	}
}

.how {
	&__top {
		background: url(../img/capabilities/how-bg.jpg) center / cover;
	}
	&__list {
		counter-reset: counterNumber;
		gap: 40px 0;
		@include mq(md-min) {
			gap: 60px 0;
		}
		@include mq(xl-min) {
			margin: 0 -20px;
		}
		> * {
			@include mq(xl-min) {
				padding: 0 20px;
			}
		}
		&-content {
			border-radius: 78px 8px 8px 8px;
			box-shadow: 0px 1px 16px rgba(0, 0, 0, 0.12);
			padding-top: 60px;
			padding-bottom: 30px;
			@include mq(xl-min) {
				padding-top: 108px;
				padding-bottom: 50px;
			}
		}
		&-number {
			counter-increment: counterNumber;
			border-radius: 50%;
			z-index: 1;
			box-shadow: -3px 4px 11px rgba(64, 68, 238, 0.35);
			width: 60px;
			height: 60px;
			@include fts(30, 30);
			top: -30px;
			left: calc(50% - 30px);
			@include mq(md-min) {
				width: 90px;
				height: 90px;
				@include fts(50, 50);
				top: -45px;
				left: calc(50% - 45px);
			}
			@include mq(xl-min) {
				width: 120px;
				height: 120px;
				@include font-size(70);
				top: -60px;
				left: calc(50% - 60px);
			}
			&::before {
				display: block;
				content: counter(counterNumber);
			}
			&::after {
				position: absolute;
				content: '';
				border: 1px solid white;
				border-radius: 50%;
				@include v-h-align;
				width: 45px;
				height: 45px;
				@include mq(md-min) {
					width: 70px;
					height: 70px;
				}
				@include mq(xl-min) {
					width: 96px;
					height: 96px;
				}
			}
		}
		&-ttl {
			padding-bottom: 23px;
			margin-bottom: 19px;
			&::before {
				position: absolute;
				content: '';
				width: 100%;
				max-width: 120px;
				height: 4px;
				background: $color-primary;
				left: 50%;
				transform: translateX(-50%);
				bottom: 0;
			}
		}
	}
	&__product {
		gap: 15px 0;
		@include mq(xl-min) {
			margin-top: -15px;
			margin-right: -15px;
			gap: 40px 0;
		}
		> * {
			@include mq(xl-min) {
				padding: 0 15px;
			}
		}
		&-content {
			border-radius: 8px;
			box-shadow: 0px 1px 10px 0px rgba(64, 68, 238, 0.2);
			padding-top: 20px;
			padding-bottom: 20px;
			@include mq(sm-min) {
				min-height: 305px;
			}
		}
		&-ico {
			width: 64px;
			height: 64px;
		}
	}
}

.technologies {
	&__list {
		gap: 30px;
		@include mq(xl-min) {
			gap: 64px 67px;
		}
	}
}

.solution {
	&__list {
		gap: 15px 0;
		@include mq(xl-min) {
			margin-left: -30px;
			margin-right: -30px;
		}
		> * {
			@include mq(xl-min) {
				padding: 0 25px;
			}
		}
		&-img {
			max-width: 100px;
			margin-bottom: 15px;
			@include mq(md-min) {
				margin-bottom: 22px;
			}
			@include mq(xl-min) {
				max-width: 200px;
			}
		}
	}
}
