@use 'vars' as *;

//background
.bg {
	&-primary {
		background-color: $color-primary !important;
	}
	&-black01 {
		background: $color-black01;
	}
	&-black04 {
		background: $color-black04;
	}
	&-gray02 {
		background: $color-gray02;
	}
	&-gray03 {
		background: $color-gray03;
	}
	&-gray05 {
		background: $color-gray05;
	}
}

// button
.btn {
	&-primary {
		background: $color-primary;
		border-color: $color-primary;
	}
	&-outline {
		&-primary {
			color: $color-primary;
			border-color: $color-primary;
		}
		&-white {
			color: white;
			border-color: white;
			&:hover {
				color: $color-black;
				background: white;
			}
		}
	}
	&-xl {
		padding: 10px 20px;
		@include mq(md-min) {
			padding: 17px 31px;
			border-radius: 0.5rem;
		}
	}
	&-lager {
		padding: 10px 20px;
		@include mq(md-min) {
			padding: 11px 19px;
			border-radius: 0.5rem;
		}
	}
}

// border
.border {
	&-primary {
		border-color: $color-primary !important;
	}
	&-black02 {
		border-color: $color-black02 !important;
	}
}

//text
.text {
	&-primary {
		color: $color-primary !important;
	}
	&-justify {
		text-align: justify;
	}
	&-gray {
		color: $color-gray;
	}
	&-gray03 {
		color: $color-gray03;
	}

	// font size
	&-base {
		@include font-size(16);
	}
	&-mini {
		@include font-size(16);
	}
	&-md {
		@include mq(md-min) {
			@include font-size(16);
		}
	}
	&-lg {
		@include mq(lg-min) {
			@include font-size(18);
		}
	}
	&-xl {
		@include mq(xl-min) {
			@include font-size(20);
		}
	}
	&-xxl {
		@include mq(xxl-min) {
			@include font-size(24);
		}
	}
}

.lh {
	&-1 {
		&-3 {
			line-height: 1.3;
		}
		&-4 {
			line-height: 1.4;
		}
		&-6 {
			&-5 {
				line-height: 1.65;
			}
		}
		&-7 {
			&-5 {
				line-height: 1.75;
			}
		}
	}
}
