@use 'vars' as *;

.mainvisaul {
	img {
		min-height: 150px;
		object-fit: cover;
		object-position: center;
	}
}

.contact {
	&__head {
		gap: 50px;
		max-width: 948px;
	}
	&__wrap {
		gap: 40px;
	}
	&__item {
		span {
			@include mq(sm) {
				width: calc(100% - 30px);
				margin-left: 6px;
			}
		}
	}
}

.date_range_picker {
	border-radius: 16px;
	padding: 22px 39px;
	@include mq {
		border-radius: 10px;
		padding: 15px;
	}
}
