@use 'vars' as *;

.footer {
	&__des {
		line-height: 1.75;
	}
	&__left {
		@include mq(lg-min) {
			width: 45%;
			max-width: 570px;
		}
	}
	&__right {
		@include mq(lg-min) {
			width: 55%;
			max-width: 746px;
			line-height: 2.55;
		}
	}
}
