@use 'vars' as *;

.header {
	z-index: 9999;
	&-nav {
		height: 68px;
		@include mq(lg-min) {
			height: 100px;
		}
	}
	&-container {
		position: relative;
	}
	&-logo {
		width: 112px;
	}
	&-collapse {
		@include mq(lg-min) {
			max-width: 74.2%;
		}
		.navbar-nav {
			@include mq(lg-min) {
				gap: 37px;
			}
			.nav {
				&-link {
					@include font-size(16);
					color: black;
					font-weight: 600;
					@include mq(lg-min) {
						padding: 38px 16px;
					}
					&:hover,
					&.active {
						color: $color-primary;
					}
				}
			}
		}
	}
	&-btn {
		padding: 11px 21px;
	}
}
