@use 'vars' as *;

.mainvisual {
	background: url(../img/index/mv.jpg) center / cover;
	&__ttl {
		@include font-size(28);
		@include mq(lg-min) {
			@include font-size(38);
		}
		@include mq(xl-min) {
			@include font-size(48);
		}
	}
	&__btn {
		@include font-size(18);
	}
}

.business {
	&__list {
		@include mq(sm) {
			position: relative;
			top: -39px;
		}
	}
	&__ico {
		border-radius: 50%;
		width: 77px;
		height: 77px;
		@include mq(sm-min) {
			margin-top: -39px;
		}
	}
	&__ttl {
		@include mq(lg) {
			font-size: 20px !important;
		}
	}
}

.service {
	&__item {
		position: relative;
		z-index: 1;
		&::before {
			display: block;
			content: '';
			padding-bottom: 75.9%;
		}
	}
	&__img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		img {
			display: block;
			width: 100%;
			height: 100%;
			@include ob;
			border-radius: 16px;
			box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
		}
	}
	&__content {
		background: rgba($color-primary, 0.8);
		position: relative;
		z-index: 2;
		border-radius: 0 0 16px 16px;
	}
	&__ico {
		transform: translateY(-50%);
		margin-bottom: -32px;
	}
	&__ttl {
		min-height: 54px;
		line-height: 1.35;
		@include mq {
			font-size: 18px !important;
		}
	}
}

.approach {
	&__img {
		&-01 {
			width: 82.6%;
			margin-bottom: -51%;
		}
		&-02 {
			width: 50%;
			max-width: 300px;
		}
	}
	&__content {
		@include mq(xl-min) {
			padding-left: 45px;
		}
	}
	&__wrap {
		@include mq(sm-min) {
			margin-left: -10px;
		}
	}
	&__item {
		@include mq(sm-min) {
			max-width: 264px;
		}
	}
	&__ico {
		width: 40px;
		@include mq(sm-min) {
			width: 80px;
		}
	}
}

.design {
	&__img {
		width: 98.2%;
		left: 3px;
		z-index: 1;
		&::before,
		&::after {
			position: absolute;
			z-index: -1;
			content: '';
		}
		&::before {
			background: $color-gray04;
			border-radius: 30px;
			top: -34px;
			left: 5px;
			bottom: 73px;
			width: 65.3%;
			@include mq {
				left: 0;
			}
		}
		&::after {
			width: 127px;
			height: 242px;
			background: url(../img/index/design-dots.png);
			top: -35px;
			right: -10px;
			@include mq {
				width: 100px;
				height: 180px;
				top: -15px;
				right: 0;
			}
		}
	}
	&__content {
		@include mq(sm-min) {
			max-width: 609px;
		}
	}
	&__list {
		max-width: 433px;
		&-ttl {
			@include mq {
				font-size: 16px !important;
			}
		}
	}
}

.app {
	background: url(../img/index/app-bg.jpg) center / cover;
	z-index: 1;
	&::before {
		position: absolute;
		z-index: -1;
		content: '';
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(3, 25, 77, 0.9);
	}
	&__img {
		max-width: 590px;
		z-index: 1;
		@include mq {
			max-width: 350px;
		}
		&::before {
			position: absolute;
			z-index: -1;
			content: '';
			width: 28vw;
			height: 28vw;
			max-width: 532px;
			max-height: 532px;
			top: 22.6%;
			left: -3.8%;
			background: url(../img/index/app-circle.png) center / contain
				no-repeat;
		}
	}
	&__content {
		max-width: 595px;
	}
}

.improvement {
	&__img {
		max-width: 701px;
		margin-top: 2px;
	}
	&__str {
		border-radius: 8px;
		box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.2);
		width: 210px;
		height: 210px;
		top: 12%;
		left: 2.8%;
		padding: 64px 25px;
		letter-spacing: 0.05em;
		@include mq(lg) {
			font-size: 20px !important;
			width: 150px;
			height: 150px;
			padding: 45px 15px;
			top: 5%;
		}
	}
	&__content {
		max-width: 595px;
	}
	&__info {
		max-width: 400px;
	}
	&__list {
		&-item {
			width: 44.5%;
			@include mq(sm) {
				width: 48%;
			}
		}
		&-number {
			@include fts(40, 40);
			@include mq(md-min) {
				@include font-size(60);
			}
			@include mq(xl-min) {
				@include font-size(79);
			}
		}
		&-ttl {
			@include mq(lg) {
				font-size: 20px !important;
			}
			@media screen and (max-width: 374px) {
				font-size: 18px !important;
			}
		}
	}
}

.intelligence {
	&__img {
		max-width: 698px;
	}
	&__content {
		max-width: 643px;
	}
}

.payment {
	background: url(../img/index/payment-bg-03.jpg) center right / cover;
	@include mq(md-min) {
		background: url(../img/index/payment-bg-02.jpg) center right / cover;
	}
	@include mq(xxl-min) {
		background: url(../img/index/payment-bg.jpg) center right / cover;
	}
	&__content {
		max-width: 675px;
	}
}

.security {
	&__img {
		max-width: 350px;
		@include mq(md-min) {
			max-width: 678px;
		}
	}
	&__content {
		@include mq(md-min) {
			max-width: 599px;
		}
	}
}

.devops {
	&__img {
		max-width: 350px;
		@include mq(md-min) {
			max-width: 662px;
		}
		&::before {
			position: absolute;
			content: '';
			width: 30%;
			max-width: 127px;
			height: 30%;
			max-height: 140px;
			background: url(../img/index/design-dots.png);
			bottom: 5.2%;
			left: 5.6%;
		}
	}
	&__content {
		max-width: 599px;
	}
}

.design-services {
	&__img {
		@include mq(xl-min) {
			margin: 0 -151px 0 -78px;
		}
	}
	&__content {
		max-width: 592px;
		margin-right: -11px;
	}
}
