@use 'vars' as *;

.container {
	@include mq(xxl-min) {
		max-width: 1464px;
	}
}

.inner {
	padding-right: var(--bs-gutter-x, 0.75rem);
	padding-left: var(--bs-gutter-x, 0.75rem);
	margin-left: auto;
	margin-right: auto;
	@include mq(lg-min) {
		max-width: 1092px;
	}
}

.wrapper {
	padding-top: 68px;
	@include mq(lg-min) {
		padding-top: 100px;
	}
}

.sec-breadcrumb {
	top: 37px;
	@include mq {
		top: 15px;
	}
	a {
		padding-right: 20px;
	}
	span {
		padding-left: 26px;
		position: relative;
		&::before {
			position: absolute;
			content: '';
			width: 6px;
			height: 6px;
			border-radius: 50%;
			background: white;
			top: 7px;
			left: 0;
		}
	}
}

//effect
.js-fadeIn,
.js-fadeUp,
.js-fadeLeft,
.js-fadeRight,
.js-fadeZoom {
	opacity: 0;
	transition: opacity 1s, transform 1s;
	&.is-active {
		opacity: 1;
		transform: translate(0, 0) scale(1);
	}
}

.js-fadeUp {
	transform: translate(0, 20px);
}

.js-fadeLeft {
	transform: translate(20px, 0);
}

.js-fadeRight {
	transform: translate(-20px, 0);
}

.js-fadeZoom {
	transform: scale(0.9);
}

.delay {
	&-0 {
		&-3 {
			transition-delay: 0.3s;
			&-sm {
				@include mq(sm-min) {
					transition-delay: 0.3s;
				}
			}
		}
		&-6 {
			transition-delay: 0.6s;
			&-sm {
				@include mq(sm-min) {
					transition-delay: 0.6s;
				}
			}
		}
		&-9 {
			transition-delay: 0.9s;
			&-sm {
				@include mq(sm-min) {
					transition-delay: 0.9s;
				}
			}
		}
	}
	&-1 {
		&-2 {
			transition-delay: 1.2s;
			&-sm {
				@include mq(sm-min) {
					transition-delay: 1.2s;
				}
			}
		}
		&-5 {
			transition-delay: 1.5s;
			&-sm {
				@include mq(sm-min) {
					transition-delay: 1.5s;
				}
			}
		}
		&-8 {
			transition-delay: 1.8s;
			&-sm {
				@include mq(sm-min) {
					transition-delay: 1.8s;
				}
			}
		}
	}
	&-2 {
		&-1 {
			transition-delay: 2.1s;
			&-sm {
				@include mq(sm-min) {
					transition-delay: 2.1s;
				}
			}
		}
	}
}
