// color
$color-primary: #4044ee;
$color-black: black;
$color-black01: #041026;
$color-black02: #373737;
$color-black03: #101828;
$color-black04: #05173a;
$color-gray: #959595;
$color-gray02: #edf1f7;
$color-gray03: #475467;
$color-gray04: #edf3f5;
$color-gray05: #f1f3fb;

@mixin font-fm($fmValue, $fwValue) {
	font-family: ($fmValue);
	font-weight: ($fwValue);
}

@mixin font-size($sizeValue) {
	font-size: $sizeValue + px;
}

@function c-max-size($max, $size) {
	@return unquote('max(' + $max + ', ' + $size + ')');
}

@function vw($element-size) {
	$vwSize: ($element-size / 1024) * 100;
	@return #{$vwSize}vw;
}

@mixin ob {
	object-fit: cover;
}

@mixin palt {
	font-feature-settings: 'palt' 1;
}

@mixin fts($fts, $lin: 24) {
	$linS: $lin / $fts;
	font-size: #{$fts}px;
	line-height: $linS;
}

@mixin v-align {
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}

@mixin h-align {
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}

@mixin v-h-align {
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

@mixin smooth-transition {
	-webkit-backface-visibility: hidden;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

/* ====================================================
Media Quary
==================================================== */
@mixin mq($breakpoint: md) {
	@media #{map-get($breakpoints, $breakpoint)} {
		@content;
	}
}

$breakpoint-sm: 640px !default;
$breakpoint-md: 768px !default;
$breakpoint-lg: 990px !default;

$breakpoints: (
	'sm': 'screen and (max-width: 575px)',
	'md': 'screen and (max-width: 767px)',
	'lg': 'screen and (max-width: 991px)',
	'xl': 'screen and (max-width: 1199px)',
	'xxl': 'screen and (max-width: 1399px)',
	'sm-min': 'screen and (min-width: 576px)',
	'md-min': 'screen and (min-width: 768px)',
	'lg-min': 'screen and (min-width: 992px)',
	'xl-min': 'screen and (min-width: 1200px)',
	'xxl-min': 'screen and (min-width: 1400px)',
) !default;

//marginPC and SP
@for $i from 1 through 100 {
	@include mq(md-min) {
		.mbpc-#{$i} {
			margin-bottom: $i + px !important;
		}
	}
	@include mq() {
		.mbsp-#{$i} {
			margin-bottom: $i + px !important;
		}
	}
}
.mb0 {
	margin-bottom: 0 !important;
}

//====================================================
//Pseudo-elements setting
//====================================================
@mixin p-before($w, $h) {
	&:before {
		content: '';
		display: inline-block;
		position: absolute;
		width: $w;
		height: $h;
		@content;
	}
}

@mixin p-after($w, $h) {
	&:after {
		content: '';
		display: inline-block;
		position: absolute;
		width: $w;
		height: $h;
		@content;
	}
}
